[submodule ".vim/pack/general/start/dracula-theme"]
	path = .vim/pack/general/start/dracula-theme
	url = https://github.com/dracula/vim.git
[submodule ".vim/pack/general/start/SimpylFold"]
	path = .vim/pack/general/start/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule ".vim/pack/general/start/FastFold"]
	path = .vim/pack/general/start/FastFold
	url = https://github.com/Konfekt/FastFold.git
[submodule ".vim/pack/general/start/ale"]
	path = .vim/pack/general/start/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/pack/general/start/targets.vim"]
	path = .vim/pack/general/start/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule ".vim/pack/general/start/vim-commentary"]
	path = .vim/pack/general/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/general/start/vim-characterize"]
	path = .vim/pack/general/start/vim-characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule ".vim/pack/general/start/surround"]
	path = .vim/pack/general/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/general/start/vimtex"]
	path = .vim/pack/general/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule ".vim/pack/general/start/vim-fugitive"]
	path = .vim/pack/general/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/general/start/vim-dirvish"]
	path = .vim/pack/general/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish.git
[submodule ".vim/pack/general/start/vim-gutentags"]
	path = .vim/pack/general/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule ".vim/pack/general/start/vim-qlist"]
	path = .vim/pack/general/start/vim-qlist
	url = https://github.com/romainl/vim-qlist.git
[submodule ".vim/pack/general/start/tlib_vim"]
	path = .vim/pack/general/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/pack/general/start/ttags_vim"]
	path = .vim/pack/general/start/ttags_vim
	url = https://github.com/tomtom/ttags_vim.git
[submodule ".vim/pack/general/start/vim-indent-object"]
	path = .vim/pack/general/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/pack/general/opt/vim-vinegar"]
	path = .vim/pack/general/opt/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
