[mergetool "fugitive"]
    cmd = vim -f -c \"Gvdiff\" \"$MERGED\"
[merge]
    tool = fugitive
[credential]
    helper = cache --timeout=3600
[alias]
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    ls = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --all --find-copies -M --stat

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[url "ssh://git@gitlab.com/denkweit/"]
	insteadOf = https://gitlab.com/denkweit/
[init]
	defaultBranch = main
[gpg]
	format = ssh
[user]
	signingkey = /home/georg/.ssh/id_ed25519
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	followTags = true
