[submodule ".vim/pack/general/start/dracula-theme"]
	path = .vim/pack/general/start/dracula-theme
	url = https://github.com/dracula/vim.git
[submodule ".vim/pack/general/start/SimpylFold"]
	path = .vim/pack/general/start/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule ".vim/pack/general/start/FastFold"]
	path = .vim/pack/general/start/FastFold
	url = https://github.com/Konfekt/FastFold.git
[submodule ".vim/pack/general/start/ale"]
	path = .vim/pack/general/start/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/pack/general/start/targets.vim"]
	path = .vim/pack/general/start/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule ".vim/pack/general/start/vim-commentary"]
	path = .vim/pack/general/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/general/start/vim-characterize"]
	path = .vim/pack/general/start/vim-characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule ".vim/pack/general/start/nerdtree"]
	path = .vim/pack/general/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/general/start/surround"]
	path = .vim/pack/general/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/general/start/vimtex"]
	path = .vim/pack/general/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule ".vim/pack/general/start/vim-fugitive"]
	path = .vim/pack/general/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
